$orange         : #BD3613;
$blue           : #2176C7;

$font-primary: Merriweather, serif;
$font-secondary: Bree Serif, serif;
$default-border-radius : 10px;

$color1: #444444;
$color2: #b4b4b4;
$color3: white;
$accent-color: orange;