
<div class="container-fluid">
  <div class="row">
    <div class="small-centered columns small-10 medium-10 large-12">
      <ul class="button-group even-9">
        <li><a class="button small" href=""  ng-click="choose('');">All</a></li>  
        <li ng-repeat="movie in movies | unique: 'genre'" class="thumbnail"> 
          <a class="button small" href="" ng-click="choose(movie);">{{movie}}</a>
        </li>
      </ul>
    </div>
</div>
<div class="row">
    <div class="small-centered columns small-10 medium-10 large-12">

      <ul class="small-block-grid-3 medium-block-grid-6 large-block-grid-8">
        <li ng-repeat="movie in movies | filter:{genre:query}" class="thumbnail">
          <a href="#/detail/{{movies.indexOf(movie)}}" class="thumb"><img class="th zoom" ng-src="./data/images/{{movie.imdbID}}.jpg"></a>
        </li>
      </ul>

    </div>

  </div>
</div>
